* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100vh;
  background-color: #0A0A0D;
  font-family: "Spline Sans Mono";
}

.container {
  max-width: 1200px;
  padding: 16px;
  margin: 0 auto;
}

.impression {
  width: 50%;
  position: relative;
  max-height: 360px;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .impression {
    width: 100%;
  }
}
.impression__darken {
  position: absolute;
  z-index: 300;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(180deg, rgba(8, 9, 12, 0) 0%, #08090C 100%);
}
.impression__darken_second {
  opacity: 0;
}
.impression-first {
  font-family: "Spline Sans Mono", monospace;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.impression-first__header {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 22px;
  background: rgba(23, 23, 28, 0.9);
  border-radius: 4px;
  border: 1px solid rgba(144, 144, 144, 0.1);
}
.impression-first__list {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.impression-first__item {
  position: relative;
  width: calc(50% - 5px);
  padding: 18px;
  background: rgba(23, 23, 28, 0.9);
  border-radius: 4px;
  border: 1px solid rgba(144, 144, 144, 0.1);
}
.impression-first__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 21px;
  width: 28px;
  height: 3px;
  background: linear-gradient(233.25deg, rgba(0, 194, 146, 0.6) 0%, rgba(54, 122, 235, 0.6) 99.28%);
  border-radius: 0px 0px 2px 2px;
}
.impression-first__item_spec::after {
  background: linear-gradient(233.25deg, #A62116 0%, #E88A37 99.28%);
}
.impression-first__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3px;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.impression-first__subtitle {
  padding-left: 3px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.impression-first__button {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 8px 13px;
  border-radius: 150px;
  border: 1px solid rgba(144, 144, 144, 0.1);
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(203, 203, 214, 0.6);
}
.impression-first__button_spec {
  border: none;
  background: linear-gradient(233.25deg, rgba(0, 194, 146, 0.6) 0%, rgba(54, 122, 235, 0.6) 99.28%);
  color: rgba(255, 255, 255, 0.8);
}
.impression-first__button_spec svg {
  margin-left: 7px;
}
.impression-first__button_spec-text {
  max-width: 62px;
  overflow: hidden;
}
.impression-second {
  font-family: "Spline Sans Mono", monospace;
}
.impression-second__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 22px;
  background: rgba(23, 23, 28, 0.9);
  border-radius: 4px;
  border: 1px solid rgba(144, 144, 144, 0.1);
}
.impression-second__header-title {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.impression-second__header-title span {
  color: rgba(255, 255, 255, 0.6);
}
.impression-second__header-counter {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(203, 203, 214, 0.6);
}
.impression-second__item {
  margin-bottom: 10px;
  padding: 12px 22px;
  background: rgba(23, 23, 28, 0.9);
  border-radius: 4px;
  border: 1px solid rgba(144, 144, 144, 0.1);
}
.impression-second__title {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.impression-second__title svg {
  margin-right: 10px;
}
.impression-second__subtitle {
  padding-left: 27px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.impression:hover .impression-first__list {
  animation: scrollingImpressionFirstList 2.5s forwards;
}
@keyframes scrollingImpressionFirstList {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-130px);
  }
  100% {
    transform: translateY(-115px);
  }
}
.impression:hover .impression-first__button_spec {
  animation: pressButtonSubscribe 0.5s 2.5s forwards;
}
@keyframes pressButtonSubscribe {
  0% {
    transform: scale(1);
  }
  10% {
    transform: translateY(3px);
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    background: none;
    color: rgba(203, 203, 214, 0.6);
    border: 1px solid rgba(144, 144, 144, 0.1);
  }
}
.impression:hover .impression-first__button_spec svg {
  animation: pressButtonSubscribeHideSVG 0.1s 2.7s forwards;
}
@keyframes pressButtonSubscribeHideSVG {
  0% {
    position: static;
  }
  20% {
    opacity: 0;
  }
  100% {
    position: absolute;
    top: -100px;
    opacity: 0;
  }
}
.impression:hover .impression-first__item_spec::after {
  animation: pressButtonSubscribeAfterBG 0.1s 2.7s forwards;
}
@keyframes pressButtonSubscribeAfterBG {
  0% {
    background: linear-gradient(233.25deg, #A62116 0%, #E88A37 99.28%);
  }
  100% {
    background: linear-gradient(233.25deg, rgba(0, 194, 146, 0.6) 0%, rgba(54, 122, 235, 0.6) 99.28%);
  }
}
.impression:hover .impression-first__button_spec-text {
  animation: pressButtonSubscribeChangeTextButton 0.1s 2.7s forwards;
}
@keyframes pressButtonSubscribeChangeTextButton {
  0% {
    max-width: 62px;
  }
  100% {
    max-width: 70px;
  }
}
.impression:hover .impression__darken_first {
  z-index: 200;
  animation: hideImpressionDarken 0.1s 2.7s forwards;
}
@keyframes hideImpressionDarken {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.impression:hover .impression-first__item_spec {
  z-index: 200;
  animation: biggerCardImpression 0.6s 2.8s forwards;
}
@keyframes biggerCardImpression {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2.1) translateX(-70px);
  }
}
.impression:hover .impression-first {
  animation: hideFirstImpression 0.4s 3.4s forwards;
}
@keyframes hideFirstImpression {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.impression:hover .impression-second {
  animation: showSecondImpression 0.4s 3.4s forwards;
}
@keyframes showSecondImpression {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-445px);
  }
}
.impression:hover .impression__darken_second {
  z-index: 400;
  animation: showImpressionDarken 0.1s 3.4s forwards;
}
@keyframes showImpressionDarken {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.impression:hover .impression-second__list {
  animation: scrollSecondImpressionList 3.2s 3.8s forwards;
}
@keyframes scrollSecondImpressionList {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=impression.css.map */
