* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100vh;
  background-color: #0A0A0D;
  font-family: "Spline Sans Mono";
}

.container {
  max-width: 1200px;
  padding: 16px;
  margin: 0 auto;
}

.ruler {
  width: 50%;
  position: relative;
  max-height: 360px;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .ruler {
    width: 100%;
  }
}
.ruler__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  max-width: 450px;
  margin: 0 auto 10px;
  padding: 12px 22px;
  background: #17171C;
  border-radius: 4px;
  border: 1px solid rgba(144, 144, 144, 0.1);
}
.ruler__header-title {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.ruler__header-counter {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(203, 203, 214, 0.6);
}
.ruler__list {
  display: flex;
  flex-direction: column;
}
.ruler__item {
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px 15px;
  margin: 0 auto 10px;
  background: #17171C;
  border-radius: 100px;
  border: 1px solid rgba(144, 144, 144, 0.1);
}
.ruler__box {
  height: 0;
  width: 100%;
  overflow: hidden;
  background: #0E0E11;
  border-radius: 4px;
}
.ruler__box-title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.8);
}
.ruler__label {
  width: 0;
  overflow: hidden;
  border-radius: 100px;
  position: relative;
}
.ruler__label span {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  background: linear-gradient(233.25deg, rgba(0, 194, 146, 0.6) 0%, rgba(54, 122, 235, 0.6) 99.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.ruler-code {
  display: flex;
  position: relative;
}
.ruler-code__numbers {
  width: 5%;
  display: flex;
  flex-direction: column;
}
.ruler-code__number {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #808080;
}
.ruler-code__field {
  width: 95%;
}
.ruler-code__row {
  display: flex;
  margin-bottom: 5px;
}
.ruler-code__row_first, .ruler-code__row_two, .ruler-code__row_three, .ruler-code__row_four, .ruler-code__row_five, .ruler-code__row_six, .ruler-code__row_seven, .ruler-code__row_eight, .ruler-code__row_nine, .ruler-code__row_ten {
  width: 0;
  overflow: hidden;
}
.ruler-code__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
.ruler-code__text_blue {
  color: rgb(31, 85, 176);
}
.ruler-code__text_white {
  color: rgba(255, 255, 255, 0.8);
}
.ruler-code__text_orange {
  color: rgb(190, 98, 37);
}
.ruler-code__text_yellow {
  color: rgb(191, 159, 52);
}
.ruler-code__text_purple {
  color: rgb(106, 49, 203);
}
.ruler-code__blink {
  position: relative;
  bottom: -2px;
  height: 12px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}
.ruler-code__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 7px 12px;
  background: linear-gradient(81.3deg, #D94836 6.6%, #6A31CB 93.33%);
  backdrop-filter: blur(7.65781px);
  border-radius: 150px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.ruler-code__button-word {
  max-width: 40px;
  overflow: hidden;
}
.ruler-code__button-plus, .ruler-code__button-check {
  margin-left: 7px;
}
.ruler-code__button-check {
  opacity: 0;
  position: absolute;
  right: 10px;
  width: 10px;
}
.ruler__description {
  margin-left: 22px;
}
.ruler__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.ruler__text {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}
.ruler__darken {
  position: absolute;
  z-index: 300;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(180deg, rgba(8, 9, 12, 0) 0%, #08090C 100%);
}
.ruler:hover .ruler__list {
  animation: scrollRuler 3.5s 0.3s forwards, scrollRulerListEnd 4s 16s forwards;
}
@keyframes scrollRuler {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-160px);
  }
  100% {
    transform: translateY(-60px);
  }
}
@keyframes scrollRulerListEnd {
  0% {
    transform: translateY(-60px);
  }
  40% {
    transform: translateY(-210px);
  }
  100% {
    transform: translateY(0px);
  }
}
.ruler:hover .ruler__item_spec {
  animation: biggerRulerSpecItem 0.4s 4s forwards, scrollerRulerSpecItem 3.2s 9s forwards, returnRulerSpecItem 0.6s 14s forwards;
}
@keyframes biggerRulerSpecItem {
  0% {
    max-width: 450px;
  }
  100% {
    position: absolute;
    top: 60px;
    max-width: 100%;
    width: 100%;
    height: 350px;
    border-radius: 8px;
    align-items: flex-start;
  }
}
@keyframes scrollerRulerSpecItem {
  0% {
    transform: translateY(0);
  }
  100% {
    z-index: 400;
    transform: translateY(-72px);
  }
}
@keyframes returnRulerSpecItem {
  100% {
    position: static;
    top: auto;
    max-width: 450px;
    width: 100%;
    height: auto;
    border-radius: 100px;
    align-items: center;
    transform: translateY(0);
    border: 1px solid #106871;
  }
}
.ruler:hover .ruler__box {
  animation: showRulerBoxCode 0.4s 4s forwards, returnBoxSpecItem 0.6s 14s forwards;
}
@keyframes showRulerBoxCode {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
    padding: 20px;
    margin-top: 16px;
    border: 1px solid rgba(144, 144, 144, 0.1);
  }
}
@keyframes returnBoxSpecItem {
  100% {
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    position: absolute;
    top: -1000%;
    opacity: 0;
  }
}
@keyframes writeCodeFirst {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.ruler:hover .ruler-code__row_first {
  animation: writeCodeFirst 4s 4s forwards;
}
.ruler:hover .ruler-code__row_two {
  animation: writeCodeFirst 2.4s 4.8s forwards;
}
.ruler:hover .ruler-code__row_three {
  animation: writeCodeFirst 2.2s 5.8s forwards;
}
.ruler:hover .ruler-code__row_four {
  animation: writeCodeFirst 2s 6.8s forwards;
}
.ruler:hover .ruler-code__row_five {
  animation: writeCodeFirst 1.8s 7.8s forwards;
}
.ruler:hover .ruler-code__row_six {
  animation: writeCodeFirst 0.3s 8.8s forwards;
}
.ruler:hover .ruler-code__row_seven {
  animation: writeCodeFirst 1.4s 9.2s forwards;
}
.ruler:hover .ruler-code__row_eight {
  animation: writeCodeFirst 2s 10s forwards;
}
.ruler:hover .ruler-code__row_nine {
  animation: writeCodeFirst 0.2s 10.5s forwards;
}
.ruler:hover .ruler-code__row_ten {
  animation: writeCodeFirst 0.2s 10.8s forwards;
}
.ruler:hover .ruler-code__blink {
  animation: showBlinkCodeFirst 0.8s 10.9s infinite;
}
@keyframes showBlinkCodeFirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ruler:hover .ruler-code__button {
  animation: clickButtonCodeFirst 0.4s 13s forwards;
}
@keyframes clickButtonCodeFirst {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scaleX(0.98) translateY(2px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
.ruler:hover .ruler-code__button-word {
  animation: clickButtonCodeFirstSubmitedText 0.4s 13.5s forwards;
}
@keyframes clickButtonCodeFirstSubmitedText {
  100% {
    max-width: none;
  }
}
.ruler:hover .ruler-code__button-plus {
  animation: clickButtonCodeFirstSubmitedhidePlus 0.1s 13.5s forwards;
}
@keyframes clickButtonCodeFirstSubmitedhidePlus {
  0% {
    position: static;
  }
  20% {
    opacity: 0;
  }
  100% {
    position: absolute;
    top: -100px;
    opacity: 0;
  }
}
.ruler:hover .ruler-code__button-check {
  animation: clickButtonCodeFirstSubmitedShowCheck 0.1s 13.5s forwards;
}
@keyframes clickButtonCodeFirstSubmitedShowCheck {
  100% {
    position: static;
    opacity: 1;
  }
}
.ruler:hover .ruler__label {
  animation: showLabelRulerItem 0.4s 14s forwards;
}
@keyframes showLabelRulerItem {
  0% {
    width: 0;
  }
  100% {
    width: 140px;
    padding: 6px 18px 7px;
    border: 1px solid #106871;
    margin-left: auto;
  }
}

/*# sourceMappingURL=ruler.css.map */
